{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 100,
	"svelteSortOrder": "styles-scripts-markup",
	"svelteIndentScriptAndStyle": false,
	"svelteBracketNewLine": false
}
